
.DS_Store

__pycache__/
*.pyc

/build/
/dist/
*.egg-info/

/venv/
/.idea/

/docs/source/build/
/docs/source/generated/
/docs/source/external/

/.mypy_cache/

/examples/*.png

.pre-commit-config.yaml
